<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Weather</h1>
            <p>See the data obtained from the REST API</p> 
        </div>
        
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Temperature:</label>
                        <input type="text" class="form-control" name="temperature" value="{{data.temperature}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Humidity:</label>
                        <input type="text" class="form-control" name="humidity" value="{{data.humidity}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Luminosity:</label>
                        <input type="text" class="form-control" name="luminosity" value="{{data.luminosity}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Date:</label>
                        <input type="text" class="form-control" name="date" value="{{data.date}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Time:</label>
                        <input type="text" class="form-control" name="time" value="{{data.time}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </body>
</html>